.category {
	border: 1px solid @color5th;
	display: inline-block;
	width: 8.2em;
	height: 10em;
	margin: 1em;
	padding: 0.5em;
	text-align: left;
	float: left;
	position: relative;

	.headingContainer{
		position: relative;
		h2{
			font-size: 20px;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			line-height: 22px;
			display: inline;
		}
	}

	.listContainer{
		li{
			position: relative;
			.webLink{
				color:#004a6f;
				font-size: 16px;
				line-height: 1.5;
				width: 100%;
				display: block;
				&:hover, &:focus{
					background-color: @bgColor1st;
				}
			}
		}
	}
}

.category-max-width-480 {
}

.category-max-width-1023 {
}

.category-phone-portrait {
}

.category-tablet-portrait {
}

@media only screen and (max-width: 1023px) {
	.category-max-width-1023;
}

@media only screen and (max-width: 768px) {
	.category-tablet-portrait;

}

@media only screen and (max-width: 480px) {
	.category-max-width-480;
}

@media only screen and (max-width: 400px) {
	.category-phone-portrait;
}

/* iPad in landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
}

// iPad in portrait
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
	.category-max-width-1023;
	.category-tablet-portrait;
}

// iPhone 5 in landscape
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
	.category-max-width-1023;
	.category-tablet-portrait;
}

/// iPhone 5 in portrait
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
	.category-max-width-1023;
	.category-tablet-portrait;
	.category-max-width-480;
	.category-phone-portrait;
}

// iPhone 2G-4S in landscape
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape) {
	.category-max-width-1023;
	.category-tablet-portrait;
	.category-max-width-480;
}

// iPhone 2G-4S in portrait
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {
	.category-max-width-1023;
	.category-tablet-portrait;
	.category-max-width-480;
	.category-phone-portrait;
}
