
.global-max-width-480 {
	.inner-container{
		&.quickLinksContainer{

		}

		.inner-block{
			width:100%;
		}
	}
}

.global-max-width-1023 {
}

.global-phone-portrait {
}

.global-tablet-portrait {
}

@media only screen and (max-width: 1023px) {
	.global-max-width-1023;
}

@media only screen and (max-width: 768px) {
	.global-tablet-portrait;

}

@media only screen and (max-width: 480px) {
	.global-max-width-480;
}

@media only screen and (max-width: 400px) {
	.global-phone-portrait;
}

/* iPad in landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
}

// iPad in portrait
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
	.global-max-width-1023;
	.global-tablet-portrait;
}

// iPhone 5 in landscape
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
	.global-max-width-1023;
	.global-tablet-portrait;
}

/// iPhone 5 in portrait
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
	.global-max-width-1023;
	.global-tablet-portrait;
	.global-max-width-480;
	.global-phone-portrait;
}

// iPhone 2G-4S in landscape
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape) {
	.global-max-width-1023;
	.global-tablet-portrait;
	.global-max-width-480;
}

// iPhone 2G-4S in portrait
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {
	.global-max-width-1023;
	.global-tablet-portrait;
	.global-max-width-480;
	.global-phone-portrait;
}
