<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl">
	<head>
		<meta charset="utf-8">
		<title data-ng-bind="pageTitle">OZ-365</title>
		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>
	</head>
	<body>

		<header>
			<h1>OZ 365</h1>
			<p>This is your one stop for everyday</p>
		</header>

		<div class="container" data-ui-view="main"></div>
		<footer>
		</footer>

		<!-- AddThis Smart Layers BEGIN -->
		<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f6403e04b7cf8b"></script>
		<script type="text/javascript">
			addthis.layers({
				'theme' : 'transparent',
				'share' : {
					'position' : 'right',
					'numPreferredServices' : 5
				}
			});
		</script>
		<!-- AddThis Smart Layers END -->

	</body>
</html>


