<div data-ng-cloak class="homePage">
	<div data-addthis-buttons></div>
	<div data-google-search-bar></div>

	<div class="inner-container quickLinksContainer" >
		<div class="row inner-block">
			<ul >
				<li class="col-md-3 quickLinkHolder " data-ng-repeat="link in quickLinks | orderBy: 'name': false">
					<div data-icon-button data-resource="link"  ></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="inner-container categoryWebsContainer">
		<div class="row inner-block">
			<ul class="categoryContent">
				<li class="col-md-3 categoryList " data-ng-repeat="category in categories | orderBy: 'name': false" >
					<div data-category data-resource="category" ></div>
				</li>
			</ul>
		</div>
	</div>

</div>


