.homePage{

	.quickLinksContainer{
		margin: auto;
		width: auto;
		padding: 1em;
		border-top: 1px solid @color5th;
		border-bottom: 1px solid @color5th;
		text-align: left;

		.quickLinkHolder{
			display: inline-block;
		}

	}

	.categoryWebsContainer{
		margin: 1em;
		width: auto;
		text-align: left;

		.categoryContent{
//			text-align: center;

			.categoryList{
				height: auto;
				display: inline-block;
				text-align: left;
			}
		}
	}
}

@media only screen and (max-width: 768px){
	.homePage{
		.quickLinksContainer{
			padding-left: 1em;
//			padding-right: 1em;
		}
		.categoryWebsContainer{
			margin-left: 0;
			margin-right: 0;
			.categoryContent{
				margin-bottom: 1em;
				.category{
					margin:1em;
					margin-right:0;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px){
	.homePage{
		.quickLinksContainer{

		}
		.categoryWebsContainer{
			margin-left: 0.5em;
			.categoryContent{
				margin-bottom: 1em;
				.category{
					margin:1em;
					margin-right:0;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 400px){
	.homePage{
		.categoryWebsContainer{
			margin-left: 1em;
			.categoryContent{
				.categoryList{
					width:12em;
				}
				.category{
					margin:1.5em;
				}

			}
		}
	}
}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

// iPad in portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}


// iPhone 5 in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}

/// iPhone 5 in portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}

// iPhone 2G-4S in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

}

// iPhone 2G-4S in portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

}